
.nav {
    display: flex;
    background-color: #333;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav ul li {
    padding: 14px 20px;
    color: white;
    cursor: pointer;
}

.nav ul li:hover {
    background-color: #575757;
}

.nav ul li a {
    color: white;
    text-decoration: none;
}

.flex_display {
    display: flex;
}

.flex_spacing {
    justify-content: space-between;
    align-items: center;
}

.todo_create {
    width: 100px;
    height: 40px;
    border-radius: 12px;
    background-color: #333;
    color: white;
    cursor: pointer;
    padding: 7px 10px;
}

.list_item {
    display: flex;
    padding: 10px;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

.list_item_box {
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    margin-right: 10px;
    cursor: pointer;
}

.todo_modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.44);
    width: 100%;
    height: 100vh;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.todo_modal_content {
    background-color: white;
    padding: 20px;
    margin-top: 50%;
    border-radius: 8px;
    width: 300px;
    margin: auto;
}

.close {
    background-color: red;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    width: 50px;
    margin-top: 10px;
    margin-left: 10px;
}
